.products-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); // create 4 columns per row, spaced in 4 equal portions of the total width of the container
    column-gap: 10px;
    row-gap: 20px;
}